In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Manufacturing

# `stocks` dataset

In [9]:
stocks = pd.read_csv("stocks.csv")  # Load stocks dataset
stocks.head()

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto
0,A,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.761670,104.0000,452000.000,NaN,2000.0,1.0
1,A,2000q2,2485000.0,1261000.0,1010000.0,0.0,42000.0,0.0,90000.0,7321000.0,2679000.0,512000.0,0.0,4642000.0,45.215607,73.7500,452271.967,6.0,2000.0,2.0
2,A,2000q3,2670000.0,1369000.0,1091000.0,0.0,28000.0,0.0,83000.0,7827000.0,2925000.0,528000.0,0.0,4902000.0,30.003238,48.9375,453014.579,9.0,2000.0,3.0
3,A,2000q4,3372000.0,1732000.0,1182000.0,0.0,10000.0,0.0,163000.0,8425000.0,3160000.0,830000.0,0.0,5265000.0,33.566841,54.7500,456366.381,12.0,2000.0,4.0
4,A,2001q1,2841000.0,1449000.0,1113000.0,0.0,-6000.0,0.0,119000.0,9208000.0,3667000.0,556000.0,0.0,5541000.0,18.840347,30.7300,456769.737,3.0,2001.0,1.0

In [10]:
stocks.describe()

,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto
count,1.586140e+05,1.583090e+05,1.583090e+05,1.583110e+05,1.586130e+05,1.586140e+05,1.586140e+05,1.598080e+05,1.598080e+05,1.296770e+05,1.595950e+05,1.597400e+05,1.591540e+05,159234.000000,1.578220e+05,159814.000000,324446.000000,324446.000000
mean,1.452993e+06,8.014647e+05,4.202786e+05,4.035049e+04,-1.461388e+04,2.041849e+04,4.149881e+04,1.667076e+07,1.315268e+07,4.289518e+05,2.959734e+06,3.518162e+06,3.887274e+03,142.157427,2.011844e+05,7.447652,2010.755429,2.477744
std,5.403176e+06,3.747465e+06,1.740520e+06,7.671071e+05,5.487202e+05,1.128232e+05,3.310557e+05,1.027367e+08,9.195619e+07,4.603232e+06,1.495196e+07,1.417453e+07,3.523581e+05,4835.897299,6.922988e+05,3.345909,6.498747,1.117795
min,-4.788351e+06,-4.460800e+06,-3.373000e+06,-6.967000e+06,-4.149100e+07,-3.439000e+06,-3.564500e+07,0.000000e+00,0.000000e+00,-1.500600e+04,0.000000e+00,-9.052000e+07,1.158507e-02,0.002700,0.000000e+00,0.000000,2000.000000,1.000000
25%,3.379850e+04,2.280000e+02,9.332000e+03,0.000000e+00,-2.140000e+03,0.000000e+00,0.000000e+00,3.664025e+05,1.407208e+05,0.000000e+00,7.000000e+03,1.237102e+05,9.910257e+00,11.160000,2.508096e+04,3.000000,2005.000000,1.000000
50%,2.051753e+05,4.382300e+04,5.636700e+04,0.000000e+00,0.000000e+00,7.950000e+02,2.493000e+03,1.711736e+06,9.899975e+05,6.452000e+03,2.550000e+05,5.681570e+05,2.085878e+01,25.800000,5.589535e+04,6.000000,2011.000000,2.000000
75%,8.600000e+05,3.707180e+05,2.179200e+05,3.300000e+01,6.975720e+02,1.300000e+04,2.018475e+04,6.618525e+06,4.359462e+06,8.182700e+04,1.503724e+06,1.975248e+06,4.229000e+01,49.040000,1.442091e+05,9.000000,2016.000000,3.000000
max,1.528710e+08,1.155220e+08,1.316620e+08,6.901800e+07,1.291970e+08,6.955000e+06,3.918600e+07,3.954687e+09,3.668788e+09,3.002790e+08,5.116530e+08,5.081410e+08,7.011719e+07,528921.000000,9.821405e+07,12.000000,2022.000000,4.000000

In [11]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324447 entries, 0 to 324446
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   firm               324446 non-null  object
 1   q                  324446 non-null  object
 2   revenue            158614 non-null  float64
 3   cogs               158309 non-null  float64
 4   sgae               158309 non-null  float64
 5   otheropexp         158311 non-null  float64
 6   extraincome        158613 non-null  float64
 7   finexp             158614 non-null  float64
 8   incometax          158614 non-null  float64
 9   totalassets        159808 non-null  float64
 10  totalliabilities   159808 non-null  float64
 11  shortdebt          129677 non-null  float64
 12  longdebt           159595 non-null  float64
 13  stockholderequity  159740 non-null  float64
 14  adjprice           159154 non-null  float64
 15  originalprice      159234 non-null  float64
 16  sharesoutstanding  157822 non-null  float64
 17  fiscalmonth        159814 non-null  float64
 18  year               324446 non-null  float64
 19  cto                324446 non-null  float64
dtypes: float64(18), object(2)
memory usage: 49.5+ MB

# `us_firms` dataset

In [12]:
us_firms = pd.read_csv("usfirms2022.csv")  # Load US firms dataset
us_firms.head()

,Ticker,Name,N,Class,Country\nof Origin,Type of Asset,Sector NAICS\nlevel 1,Exchange / Src,Sector\nEconomatica,Sector NAICS\nlast available,partind
0,FLWS,1 800 Flowers Com Inc,1,Com A,US,Stock,Retail Trade,NASDAQ,Trade,Retail Trade,-
1,TXG,"10x Genomics, Inc",2,Com A,US,Stock,Manufacturing,NASDAQ,Electric Electron,"Navigational, Measuring, Electromedical, and C...",-
2,GOED,1847 Goedeker Inc,3,Com,US,Stock,Retail Trade,AMEX,Trade,Furniture and Home Furnishings Stores,-
3,ONEM,"1life Healthcare, Inc",4,Com,US,Stock,Health Care and Social Assistance,NASDAQ,Other,Offices of Physicians,-
4,SRCE,1st Source Corp,5,Com,US,Stock,Finance and Insurance,NASDAQ,Finance and Insurance,Depository Credit Intermediation,-

In [13]:
us_firms.describe()

                 N
count  3608.000000
mean   1804.500000
std    1041.684213
min       1.000000
25%     902.750000
50%    1804.500000
75%    2706.250000
max    3608.000000

In [14]:
us_firms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3608 entries, 0 to 3607
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Ticker                       3608 non-null   object
 1   Name                         3608 non-null   object
 2   N                            3608 non-null   int64
 3   Class                        3608 non-null   object
 4   Country
of Origin            3608 non-null   object
 5   Type of Asset                3608 non-null   object
 6   Sector NAICS
level 1         3608 non-null   object
 7   Exchange / Src               3608 non-null   object
 8   Sector
Economatica           3608 non-null   object
 9   Sector NAICS
last available  3608 non-null   object
 10  partind                      3608 non-null   object
dtypes: int64(1), object(10)
memory usage: 310.2+ KB

# General questions

## Firm size

In [20]:
firm_size = stocks[["firm"]].copy()  # Avoid dataframe reference issues
firm_size.head()

  firm
0    A
1    A
2    A
3    A
4    A

In [27]:
firm_size["book value"] = stocks["totalassets"] - stocks["totalliabilities"]
firm_size["market value"] = stocks["originalprice"] * stocks["sharesoutstanding"]
firm_size.describe()

         book value  market value
count  1.598080e+05  1.538650e+05
mean   3.518077e+06  1.029986e+07
std    1.416943e+07  4.594825e+07
min   -9.052000e+07  9.322199e-01
25%    1.238915e+05  3.387007e+05
50%    5.688890e+05  1.576864e+06
75%    1.978336e+06  5.490284e+06
max    5.081410e+08  2.913284e+09

In [30]:
firm_size.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324447 entries, 0 to 324446
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   firm          324446 non-null  object
 1   book value    159808 non-null  float64
 2   market value  153865 non-null  float64
dtypes: float64(2), object(1)
memory usage: 7.4+ MB

## Stock performance

In [31]:
stock_performance = stocks[["firm", "revenue"]].copy()
stock_performance.head()

  firm    revenue
0    A        NaN
1    A  2485000.0
2    A  2670000.0
3    A  3372000.0
4    A  2841000.0

In [32]:
stock_performance["operating profit"] = stocks["revenue"] - stocks["cogs"] - stocks["sgae"]
stock_performance["ebit"] = stock_performance["operating profit"] - stocks["otheropexp"]
stock_performance["operating profit margin"] = stock_performance["ebit"] / stock_performance["revenue"]
stock_performance.describe()

            revenue  operating profit          ebit  operating profit margin
count  1.586140e+05      1.583090e+05  1.583090e+05             1.582490e+05
mean   1.452993e+06      2.304486e+05  1.901021e+05                      NaN
std    5.403176e+06      1.334048e+06  1.029810e+06                      NaN
min   -4.788351e+06     -6.304900e+07 -6.304900e+07                     -inf
25%    3.379850e+04      3.203992e+02 -2.023010e+02            -5.862647e-03
50%    2.051753e+05      2.474000e+04  2.209900e+04             9.250585e-02
75%    8.600000e+05      1.110000e+05  1.021000e+05             2.197101e-01
max    1.528710e+08      6.549300e+07  4.895300e+07                      inf

In [29]:
stock_performance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324447 entries, 0 to 324446
Data columns (total 4 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   firm                     324446 non-null  object
 1   operating profit         158309 non-null  float64
 2   ebit                     158309 non-null  float64
 3   operating profit margin  158249 non-null  float64
dtypes: float64(3), object(1)
memory usage: 9.9+ MB

# EDA

## US firms by indutry

---

# Glossary

## Firm size measures

$$
\text{book value} = \text{total assets} - \text{total liabilities}
$$

$$
\begin{aligned}
\text{market value} &= \text{historical stock price} \times |\text{shares}|\\
                    &= \text{original price} \times \text{share outstanding}
\end{aligned}
$$

## Profit margin measures

$$
\text{operating profit margin} = \frac{\text{operating profit}}{\text{sales}}
$$

$$
\text{operating profit} = \text{revenue} - \text{cogs} - \text{sgae}
$$

$$
\text{cogs} = \text{cost of good sold} = \text{variable cost}
$$

$$
\text{sgae} = \text{sales and general administrative expenses} = \text{fixe costs}
$$

$$
\begin{aligned}
\text{ebit} &= \text{earnings before interest and taxes} = \text{opearting profit} \\
            &= \text{revenue} - \text{cogs} - \text{sgae} - \text{otheropexp}
\end{aligned}
$$

$$
\text{operating profit margin} = \text{opm} = \frac{\text{ebit}}{\text{revenue}}
$$

$$
\text{profit margin} = \frac{\text{net income}}{\text{sales}}
$$